@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto-Bold.ttf);
}

:root {
    --menu-count: 3;
}

.mobile-menu-btn {
    display: none;
}

@media only screen and (max-width: 600px) {

    .header-main {
        display: none;
    }

    .mobile-menu-btn {
        display: flex;
        justify-content: center;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 200;
        background-color: #E8CFB0;
    }

    .mobile-menu-btn img {
        height: 80%;
        align-self: center;
    }

    .header-main {
        height: 100vh;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        justify-content: flex-start;
    }

    .header-main nav {
        width: 100%;
        height: 80vh;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: stretch;
    }

    .header-main .logo {
        height: 30%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .header-main .logo img {
        height: 60%;
        align-self: center;
        cursor: pointer;
    }

    .header-main ul {
        height: 70%;
        width: 100%;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
    }

    .header-main ul li {
        width: 100%;
        height: calc(100% / var(--menu-count));
        padding: 0;
        margin: 0;
        border-top: 1px solid #ddd;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        transition: all ease-in-out 100ms;
    }

    .header-main ul li:nth-last-child(1) {
        border-bottom: 1px solid #ddd;
    }

    .header-main ul li a {
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 2.5rem;
    }

    .header-main ul li a:hover {
        background-color: transparent;
        color: #111;
    }

    /* DROP DOWN STARTED */

    .header-main nav {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .header-main ul li ul {
        display: none;
        flex-wrap: nowrap;
        flex-direction: column;
        position: absolute;
        top: 0;
        z-index: 2000;
        left: 0;
    }

    .header-main ul li ul li {
        height: fit-content;
        display: block;
        background-color: #111;
    }

    .header-main ul li ul li a {
        background-color: #111;
        color: #fff;
    }

    .header-main ul li ul li a:hover {
        background-color: #111;
        color: #fff;
    }

    .header-main ul li:focus>ul,
    .header-main ul li:hover>ul {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    /* DROP DOWN ENDED */

    .header-main .sm {
        width: 100%;
        height: 20vh;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header-main form {
        padding-right: 0;
        width: 90%;
        height: 40%;
    }

    .header-main form input {
        width: 100%;
        height: 100%;
        padding: 0 10px 0 20px;
        font-size: 1.6rem;
    }

    .header-main form button {
        padding: 0 5%;
    }

    .header-main form button img {
        height: 5vh;
        padding-top: 15%;
    }
}