@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #E8CFB0;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
}

.logo h2 {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-family: Clarkson;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links a {
  display: block;
  padding: 30px 16px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: Clarkson;
  text-transform: uppercase;
  transform: all ease-in-out 100ms;
}

.nav-links a:hover {
  background-color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 34px;
}

.hamburger .bar {
  flex-basis: 100%;
  height: 4px;
  background-color: #E8CFB0;
  margin: 3px;
}

@media (max-width: 767px) {
  nav {
    flex-wrap: wrap
  }
  
  .hamburger {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    height: 80px;
  }

  .nav-links {
    display: none;
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  .nav-links li {
    flex-basis: 100%;
  }

  .nav-links a {
    text-align: center;
    font-size: 28px;
  }

  .nav-links a:hover {
    background-color: white;
  }
}